body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0F172A;
  color: #F1F5F9;
}

.outerBorder {
  display: inline-flex;            
  justify-content: center;
  align-items: center;

  padding: 3px;                    
  border-radius: 50%;             
  background-color: #3b83f6be;     
  box-sizing: content-box;
}

.InnerBorder {
  display: inline-flex;            
  justify-content: center;
  align-items: center;

  padding: 5px;                    
  border-radius: 50%;             
  background-color: #1C2431;     
  box-sizing: content-box;
}

.InnerBorder img {
  display: block;
  border-radius: 50%;            
  object-fit: cover;            
  height: auto;
  width: auto;
  max-width: 100%;
}

aside {
  width: 250px;
  padding: 20px;
  background-color: #1C2431;
  border-right: 2px solid #3b83f696;
  height: 100vh;
  box-sizing: border-box;
}

aside h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 1.2;
  text-align: center;
}

aside h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  margin-bottom: 0px;
  line-height: 1.2;
}


aside p {
  margin-bottom: 0px;
  padding: 2px;
  margin: 2px;
}

aside a {
  color: #3B82F6;
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  width: 100%;
}
